/*
 Author:
 Template: Love Dating (Landing)
 Version: 1.1
 URL:
 */

/* TABLE OF CONTENTS

 1. Import section
 2. Basic styles
 3. Typography
 4. Header
 5. Menubar
 6. date
 7. testimonial
 8. Member
 9. social
 10. Statistics
 11. Subscribe
 12. Footer

 */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}
.bdr {
	border: 1px solid red;
}
/*————————————————————————————————————————————
 *
 * Basic styles
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 *
 * Typography
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Header
 ————————————————————————————————————————————*/
.header {
	background-image: url('../images/cover.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 950px;
}
.head-title h1 {
	margin-top: 32%;
}
.head-title h1 span {
	font-size: 63px;
	background-color: #5C1078;
}

/*————————————————————————————————————————————
 * searchbar
 ————————————————————————————————————————————*/
.select .select-box {
	width: 100%;
}
.select .bootstrap-select .btn {
	padding: 10px 5px;
	border: medium none;
	border-radius: 0px;
	margin-right: 0px;
}
.select .bootstrap-select .open {
	min-width: 100%;
	border: medium none;
	border-radius: 0px;
}
/*————————————————————————————————————————————
 * date
 ————————————————————————————————————————————*/
.date-img {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	margin: 0 auto;
}
.img-box {
	width: 220px;
	height: 220px;
	border: 5px solid rgb(255, 255, 255);
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(119, 119, 119);
	margin-top: 18%;
}

/*————————————————————————————————————————————
 * testimonial
 ————————————————————————————————————————————*/
.testimonial {
	background-image: url('../images/bg-seccess.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.testimonial .shadow {
	position: relative;
	background-color: rgba(102,0,153,0.5);
}
.img-conainer {
	width: 100%;
	height: 600px;
	position: relative;
	display: block;
	box-shadow: 1px 1px 2px #333;
	-moz-box-shadow: 1px 1px 2px #333;
	-o-box-shadow: 1px 1px 2px #333;
	-webkit-box-shadow: 1px 1px 2px #333;
}

.image-title {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.image-title h3 {
	font-weight: 800;
	margin-bottom: 0px;
}
.img-hover {
	position: absolute;
	bottom: 0;
	background: rgba(212,19,115, 0.6);
	width: 100%;
	height: 60%;
	display: none;
}
.img-hover {
	line-height: 25px;
}
.img-conainer:hover .img-hover {
	display: block;
}
.img-conainer:hover .image-title {
	display: none;
}
.btn-mod:hover, .btn-mod:focus, .btn-mod:active {
	color: #330066
}

@media only screen and (max-width: 800px) {
	.img-conainer {
		width: 100%;
		height: 400px;
		position: relative;
		display: block;
		box-shadow: 1px 1px 2px #333;
		-moz-box-shadow: 1px 1px 2px #333;
		-o-box-shadow: 1px 1px 2px #333;
		-webkit-box-shadow: 1px 1px 2px #333;
	}
	.img-conainer .img-hover h3 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.img-conainer .img-hover p {
		font-size: 14px;
		line-height: 20px;
	}
	.img-hover {
		position: absolute;
		bottom: 0;
		background: rgba(212,19,115, 0.6);
		width: 100%;
		height: 80%;
		display: none;
	}

}

@media only screen and (max-width: 500px) {
	.img-conainer {
		width: 100%;
		height: 500px;
		position: relative;
		display: block;
		box-shadow: 1px 1px 2px #333;
		-moz-box-shadow: 1px 1px 2px #333;
		-o-box-shadow: 1px 1px 2px #333;
		-webkit-box-shadow: 1px 1px 2px #333;
	}
	.img-hover {
		position: absolute;
		bottom: 0;
		background: rgba(212,19,115, 0.6);
		width: 100%;
		height: 60%;
		display: none;
	}
	.img-conainer .img-hover h3 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.img-conainer .img-hover p {
		font-size: 16px;
		line-height: 22px;
	}

}
/*————————————————————————————————————————————
 * Member
 ————————————————————————————————————————————*/

/*Slider Style customization */
.all-member .owl-theme .owl-controls {
	margin-top: 50px;
}

.all-member .owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 15px 3px;
	border: 1px solid #ff0066;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.all-member .owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
}
.owl-theme .owl-dots .owl-dot.active span, .all-member .owl-theme .owl-dots .owl-dot:hover span {
	background: transparent
}
.all-member .owl-theme .owl-dots .owl-dot.active span {
	background-color: #ff0066;
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
}
.member {
	margin-bottom: 20px;
}
.member .img {
	height: 150px;
}
.member .img img {
	margin-top: 20px;
	height: 100%;
}
.owl-item .member {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.owl-item.center .member {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	z-index: 999;
}
/*————————————————————————————————————————————
 * social
 ————————————————————————————————————————————*/
.client-say {
	background-image: url('../images/bg-social.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.client-say .shadow {
	position: relative;
	background-color: rgba(255,0,102,0.7);
}
.client-say  .owl-theme .owl-controls {
	margin-top: 10px;
}

.client-say .owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 15px 3px;
	border: 1px solid #FFFFFF;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.client-say .owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
}
.client-say .owl-theme .owl-dots .owl-dot.active span, .client-say .owl-theme .owl-dots .owl-dot:hover span {
	background: transparent
}
.client-say .owl-theme .owl-dots .owl-dot.active span {
	background-color: #FFFFFF;
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
}
.client-speech .say .icon {
	font-size: 68px;
	line-height: 68px;
}
.client-speech .say .main {
	padding-left: 140px;
	padding-right: 20px;
	line-height: 24px;
}

@media only screen and (max-width: 500px) {
	.client-speech .say .icon {
		font-size: 68px;
		line-height: 68px;
		padding-left: 15px;
	}
	.client-speech .say .main {
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		padding-left: 90px;
		padding-right: 15px;
	}
}

/*————————————————————————————————————————————
 * Statistics
 ————————————————————————————————————————————*/
.stat {
	background-image: url('../images/bg-stat.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.stat .shadow {
	position: relative;
	background-color: rgba(255,255,255,0.5);
}
.join-form {
	background-image: url('../images/bg-stat-form.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	-o-box-shadow: 0px 0px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
}
.join-form .shadow {
	position: relative;
	background-color: rgba(255,0,102,0.7);
}
.form-body input {
	padding: 10px;
	width: 100%;
	border: none;
}
.form-body .day, .form-body .month, .form-body .year {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
}
/*select customize*/
.selectdiv {
	position: relative;
	float: left;
}
.selectdiv:after {
	content: "<>";
	font: 17px "Consolas", monospace;
	right: 5px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	/*Adjust for position however you want*/
	top: 10px;
	/*left line */
	position: absolute;
	pointer-events: none;
}

.selectdiv select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Add some styling */
	display: block;
	height: 40px;
	padding: 0px 30px 0px 10px;
	font-size: 16px;
	line-height: 1.75;
	border: none;
	background-image: none;
	-ms-word-break: normal;
	word-break: normal;
}

/*————————————————————————————————————————————
 * Subscribe
 ————————————————————————————————————————————*/
.newslatter {
	background-image: url('../images/bg-subcribe.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 68px 0px;
}
.newslatter form input {
	width: 70%;
	font-size: 21px;
	line-height: 24px;
	padding: 15px;
	border: 3px solid #ff0066;
}
.newslatter form button {
	position: absolute;
	border: medium none;
	border-radius: 0px;
	margin-left: -140px;
	margin-top: 6px;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 15px;
}
/*————————————————————————————————————————————
 * Footer
 ————————————————————————————————————————————*/
.account {
	background-image: url('../images/bg-create.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.account .shadow {
	position: relative;
	background-color: rgba(27,1,45,0.8);
}
 .socials .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
footer {
	position: relative;
	background-color: rgba(22,0,44,0.9);
}
