/*
 Author:
 Template: Love Dating (Landing)
 Version: 1.1
 URL:
 */

/* TABLE OF CONTENTS

 1. Import section
 2. Basic styles
 3. Typography
 4. Header
 5. Menubar
 6. date
 7. testimonial
 8. Member
 9. social
 10. Statistics
 11. Subscribe
 12. Footer

 */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}

/*————————————————————————————————————————————
 *
 * Basic styles
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 *
 * Typography
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Header
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * searchbar
 ————————————————————————————————————————————*/
.select .select-box {
	width: 100%;
}
.select .bootstrap-select .btn {
	padding: 10px 5px;
	border: medium none;
	border-radius: 0px;
	margin-right: 0px;
}
.select .bootstrap-select .open {
	min-width: 100%;
	border: medium none;
	border-radius: 0px;
}
/*————————————————————————————————————————————
 * date
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * testimonial
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Member
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * social
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Statistics
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Subscribe
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Footer
 ————————————————————————————————————————————*/