/*
 Author:
 Template: Love Dating (Landing)
 Version: 1.1
 URL:
 */

/* TABLE OF CONTENTS

 1. Import section
 2. Basic styles
 3. Typography
 4. Header
 5. Menubar
 6. date
 7. testimonial
 8. Member
 9. social
 10. Statistics
 11. Subscribe
 12. Footer

 */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}
.bdr {
	border: 1px solid red;
}
/*————————————————————————————————————————————
 *
 * Basic styles
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 *
 * Typography
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Header
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * searchbar
 ————————————————————————————————————————————*/
.select .select-box {
	width: 100%;
}
.select .bootstrap-select .btn {
	padding: 10px 5px;
	border: medium none;
	border-radius: 0px;
	margin-right: 0px;
}
.select .bootstrap-select .open {
	min-width: 100%;
	border: medium none;
	border-radius: 0px;
}
/*————————————————————————————————————————————
 * date
 ————————————————————————————————————————————*/
.date-img {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	margin: 0 auto;
}
.img-box {
	width: 220px;
	height: 220px;
	border: 5px solid rgb(255, 255, 255);
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(119, 119, 119);
	margin-top: 18%;
}

/*————————————————————————————————————————————
 * testimonial
 ————————————————————————————————————————————*/
.testimonial {
	background-image: url('../images/bg-seccess.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.testimonial .shadow {
	position: relative;
	background-color: rgba(102,0,153,0.5);
}
.img-conainer {
	width: 100%;
	height: 600px;
	position: relative;
	display: block;
	box-shadow: 1px 1px 2px #333;
	-moz-box-shadow: 1px 1px 2px #333;
	-o-box-shadow: 1px 1px 2px #333;
	-webkit-box-shadow: 1px 1px 2px #333;
}

.image-title {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.image-title h3 {
	font-weight: 800;
	margin-bottom: 0px;
}
.img-hover {
	position: absolute;
	bottom: 0;
	background: rgba(212,19,115, 0.6);
	width: 100%;
	height: 60%;
	display: none;
}
.img-hover {
	line-height: 25px;
}
.img-conainer:hover .img-hover {
	display: block;
}
.img-conainer:hover .image-title {
	display: none;
}
.btn-mod:hover, .btn-mod:focus, .btn-mod:active {
	color: #330066
}

@media only screen and (max-width: 800px) {
	.img-conainer {
		width: 100%;
		height: 400px;
		position: relative;
		display: block;
		box-shadow: 1px 1px 2px #333;
		-moz-box-shadow: 1px 1px 2px #333;
		-o-box-shadow: 1px 1px 2px #333;
		-webkit-box-shadow: 1px 1px 2px #333;
	}
	.img-conainer .img-hover h3 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.img-conainer .img-hover p {
		font-size: 14px;
		line-height: 20px;
	}
	.img-hover {
		position: absolute;
		bottom: 0;
		background: rgba(212,19,115, 0.6);
		width: 100%;
		height: 80%;
		display: none;
	}

}

@media only screen and (max-width: 500px) {
	.img-conainer {
		width: 100%;
		height: 500px;
		position: relative;
		display: block;
		box-shadow: 1px 1px 2px #333;
		-moz-box-shadow: 1px 1px 2px #333;
		-o-box-shadow: 1px 1px 2px #333;
		-webkit-box-shadow: 1px 1px 2px #333;
	}
	.img-hover {
		position: absolute;
		bottom: 0;
		background: rgba(212,19,115, 0.6);
		width: 100%;
		height: 60%;
		display: none;
	}
	.img-conainer .img-hover h3 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.img-conainer .img-hover p {
		font-size: 16px;
		line-height: 22px;
	}

}
/*————————————————————————————————————————————
 * Member
 ————————————————————————————————————————————*/

/*Slider Style customization */
.owl-theme .owl-controls {
	margin-top: 50px;
}
 
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 15px 3px;
	border: 1px solid #ff0066;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: transparent
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #ff0066;
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
}
.member {
	margin-bottom: 20px;
}
.member .img {
	height: 150px;
}
.member .img img {
	margin-top: 20px;
	height: 100%;
}
.owl-item .member {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.owl-item.center .member {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	z-index: 999;
}
/*————————————————————————————————————————————
 * social
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Statistics
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Subscribe
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Footer
 ————————————————————————————————————————————*/